html {
    scroll-behavior: smooth;
    }

body {
    font-family: "Roboto", sans-serif;
    background-color:#161B5F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

/* Whole Container */
.selection-container {
    width: 55vh;
    background-color: #fff;
    text-align: center;
    background: #F0F1F6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 36px -7px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
}
.selection-container h1 {
    margin: 40px;
    font-weight: 400;
    font-size: 5vh;
    color: #161B5F; 
}
.selection-container p {
    color: #161B5F;
    font-weight: 400;
    font-size: 2.3vh;
    margin-bottom: 2vh;
}
/* =============================================================== */



.selection-container input[type="council-number"] {
    width: 37.5vh;
    height: 2.5vh;
    font-family: "Noto Sans", sans-serif;
    font-size: 2.5vh;
    font-weight: 500;
    padding: 10px;
    margin: 8px;
    background: #ffffff;
    border: 3px solid gray;
    filter: drop-shadow(4px 4px 4px rgba(144, 144, 144, 0.25));
    border-radius: 0.5vh;
    transition: 0.3s ease-in-out;
}
.selection-container input:hover[type="council-number"] {
    border: 3px solid rgb(61, 56, 56);
}

/* =============================================================== */


/* single enter button style */
.enter button {
    margin: 5vh;
    border: none;
    border-radius: 0.5vh;
    width: 16vh;
    height: 6vh;
    font-size: 2.3vh;
    cursor: pointer;
    background: #161B5F;
    color: #F0F1F6;
    transition: 0.2s ease-in-out;
    font-family: "Noto Sans", sans-serif;
}

.enter button:hover {
    background-color: #E5D49E;
    color: #161B5F;
}
/* =============================================================== */



